<p><%= session[:uid] %></p>
<p>HELLO <%= session[:info][:nickname] %></p>
<p>Listing <%= @blogs.length %> blog<%= @blogs.length!=1?"s":""%>:</p>
<p><a href="<%= @@new_blog_path %>">new blog</a>
<ul>
<% @blogs.each do |blog| %>
  <li><a href="<%= @@blog_path + blog.id.to_s %>"><%= blog.title %> using #<%= blog.hashtag %></a></li>
<% end %>
</ul>
