<% if session[:info][:nickname] == @blog.screen_name %>
<form action="/blog/<%= @blog.id %>/adduser" method="post">
  <div>
  <label>allow a user to post</label>
  <input type="text" name="screenname">
  </div>
  <input type="submit">
</form>
<% end %>
<hr>
<p><%= @permissions.length %> user<%= @permissions.length==1?"":"s" %> posting</p>
<ul>
<% @permissions.each do |permission| %>
<li>
<a href="http://www.twitter.com/<%= permission.screen_name %>"><%= permission.screen_name %></a>
<% if current_user and session[:info][:nickname] == @blog.screen_name %>
<div><a method="post" href="<%= @@blog_path %><%= @blog.id %>/deluser/<%= permission.screen_name %>">remove access</a></div>
<% end %>
</li>
<% end %>
</ul>
<hr>
<p><%= @blog.title %></p>
<p><%= @blog.hashtag %></p>
<ul class="tweetc">
<% @tweets.each do |tweet| %>
<li>
<div><img src="<%= tweet.user.profile_image_uri %>"><strong><%= tweet.user.screen_name %></strong>
</div>
<div align="right" class="tweet"><%= tweet.text %><br> Created at <a href="<%= tweet.uri %>"><%= tweet.datetime %></a>
</div>
</li> 
<hr>
<% end %>
</ul>
<a href="<%= @@app_path %>">back</a>

